<html>
<head>
    <meta charset="utf-8">
    <title>Расписание ВШЭ</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 dark:bg-gray-800 sm:py-12">
    <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 dark:bg-gray-700 dark:text-white dark:ring-slate-600 sm:mx-auto sm:max-w-2xl sm:rounded-lg sm:px-10">
        <div class="flex flex-row-reverse rounded-lg border-2">
            <input class="m-1 mr-auto w-80 bg-inherit" id="student-email" placeholder="Введите студенческую почту"
                   type="email"/>
            <svg class="hidden absolute mr-1 mt-1.5 h-5 w-5 animate-spin dark:text-white" fill="none"
                 id="loading" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75"
                      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                      fill="currentColor"></path>
            </svg>
        </div>
        <div class="py-3">
            ФИО: <span id="fio"></span>
            <br/>
            <span id="info"><br/></span>
        </div>
        <input hidden readonly placeholder="Введите почту" class="w-full rounded-lg bg-gray-200 p-1.5 dark:bg-gray-600"
                                                  id="calendar-link">
        <a hidden id="calendar-link-button" href="#"><button class="w-full rounded-lg bg-blue-500 mt-2 p-1.5 dark:bg-gray-600">Открыть</button></a>
    </div>
</div>


<script>
    let fio = document.getElementById("fio");
    let info = document.getElementById("info");
    let loading = document.getElementById("loading");
    let calendarLink = document.getElementById("calendar-link");
    let calendarLinkButton = document.getElementById("calendar-link-button");
    document.getElementById("student-email").addEventListener("change", function () {
        let email = document.getElementById("student-email");
        if (email.value.length > 0 && email.value.endsWith("@edu.hse.ru")) {
            loading.classList.toggle("hidden");
            fetch("/info?email=" + email.value, {mode: "no-cors"})
                .then(response => response.json())
                .then((data) => {
                    if (data.fio !== "") {
                        fio.innerHTML = data.fio;
                        info.innerHTML = data.info;
                        calendarLink.value = window.location.origin + "/cal/" + data.id;
                        calendarLinkButton.hidden = false;
                        calendarLink.hidden = false;
                        calendarLinkButton.href = calendarLink.value;
                    } else {
                        fio.innerText = "Не удалось получить данные";
                        info.innerText = "";
                        calendarLink.value = "";
                        calendarLinkButton.href = "#";
                        calendarLink.hidden = true;
                        calendarLinkButton.hidden = true;
                    }
                    loading.classList.toggle("hidden");

                })
        }
    });
    document.getElementById("calendar-link").addEventListener("click", function () {
        if (!calendarLink.value.includes("/cal/")) {
            return
        }
        let link = calendarLink.value
        calendarLink.setSelectionRange(0, link.length);
        navigator.clipboard.writeText(link);
        calendarLink.value = "Copied!";
        calendarLink.setSelectionRange(0, 0);
        setTimeout(() => {
            calendarLink.value = link;
        }, 2000);

    });
</script>
</body>
</html>